.news {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}
.news form {
  background: rgb(49, 49, 49);
  padding: 5px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 40px;
  input {
    background: none;
    border: none;
    outline: none;
    color: white;
  }
}
.news ul {
  background: rgb(49, 49, 49);
  padding: 20px;
  border-radius: 10px;
  list-style: none;
  min-width: 250px;
  li {
    border-bottom: 1px solid rgb(95, 94, 94);
    padding: 10px;
  }
}
