@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,600;1,700;1,800&display=swap");
button {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 20px;
  transition: all 0.3s;
}

.auth-page {
  background-color: rgb(30, 30, 30);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.auth-page form {
  min-width: 450px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
  gap: 50px;
}
.auth-page form div {
  width: 100%;
}
.auth-page form img {
  width: 80px;
}
.auth-page form button {
  width: 100%;
  background: #1a8cd8;
  color: white;
  border-radius: 10px;
}
.auth-page form button:hover {
  background: rgba(26, 140, 216, 0.631372549);
}
.auth-page form .warning {
  width: 100%;
  background: #f8d7da;
  padding: 5px 20px;
  color: black;
  border-radius: 5px;
}

.feed {
  font-family: "poppins";
  background: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
@media (max-width: 1000px) {
  .feed {
    grid-template-columns: 1fr 4fr;
  }
}

.left-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-bar img {
  width: 80px;
}
@media (max-width: 1300px) {
  .left-bar img {
    width: 50px;
  }
}
.left-bar nav {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 3px;
}
@media (max-width: 1300px) {
  .left-bar nav {
    align-items: end;
  }
}
.left-bar nav a {
  display: flex;
  gap: 10px;
  font-size: 19px;
  padding: 15px 15px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s;
}
.left-bar nav a:hover {
  background: rgba(128, 128, 128, 0.473);
}
@media (max-width: 1300px) {
  .left-bar nav i {
    font-size: 26px;
  }
}
.left-bar nav span {
  white-space: nowrap;
}
@media (max-width: 1300px) {
  .left-bar nav span {
    display: none;
  }
}
.left-bar nav button {
  background: #1a8cd8;
  color: white;
  margin-top: 20px;
  border-radius: 6px;
  font-weight: bold;
}
.left-bar nav button:hover {
  background: rgba(26, 140, 216, 0.5764705882);
}
@media (max-width: 1300px) {
  .left-bar nav button {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 50%;
  }
}
.left-bar .user {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;
}
@media (max-width: 1300px) {
  .left-bar .user {
    align-items: end;
  }
}
.left-bar .user .user-info {
  display: flex;
}
@media (max-width: 1300px) {
  .left-bar .user .user-info p {
    display: none;
  }
}
.left-bar .user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.left-bar .user button {
  background: gray;
  color: white;
  border-radius: 6px;
  white-space: nowrap;
}
@media (max-width: 1300px) {
  .left-bar .user button span {
    display: none;
  }
}

main {
  border: 1px solid rgb(66, 66, 66);
}
main header {
  padding: 20px;
  font-weight: bold;
  font-size: 21px;
  border-bottom: 1px solid rgb(66, 66, 66);
  cursor: pointer;
}
main #post-tweet {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgb(66, 66, 66);
  padding: 10px;
}
main #post-tweet img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
main #post-tweet .input-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #post-tweet .input-area input {
  width: 100%;
  background: black;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}
main #post-tweet .input-area input:focus {
  box-shadow: 0 0 10px gray;
}
main #post-tweet .input-area .buttons {
  display: flex;
  justify-content: end;
}
main #post-tweet .input-area .buttons button {
  border-radius: 60px;
  background: #1a8cd8;
  color: white;
}
main #post-tweet .input-area .buttons button:hover {
  background: rgba(26, 140, 216, 0.6352941176);
}

@media (max-width: 1000px) {
  .news {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */